/* General page setup for elements */
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 2em;
    width: auto;
    text-align: center;
    margin: 0px;
    padding: 0%;
}

header{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 0.7em;
    width: auto;
    text-align: center;
    margin: 0px;
    padding: 10px;
    display: flex;
}

footer{
    background-color: rgb(99, 99, 99);
    color: azure;
    margin: 0%;
    padding: 0%;
    padding-top: 1%;
}

h2{
    margin: 0%;
    padding: 0%;
    font-size: 1em;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    font-size: 1em;
    text-align: center;
}

ul{
    margin: 0;
    padding: 0%;
}

/* styling on the back button in the top left */
#back {
    margin: 0%;
    text-align: center;
}

#back a{
    text-decoration: none;
    color: white;
}

/* Styling on the page title and reposition to middle of page */
#title{
    margin: 0px;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0%);
}

button{
    font-size: 0.7em;
}

#ar1{
    color: green;
}
#aw1{
    color: red;
}
#ar2{
    color: green;
}
#aw2{
    color: red;
}
#ar3{
    color: green;
}
#aw3{
    color: red;
}
#ar4{
    color: green;
}
#aw4{
    color: red;
}
#ar5{
    color: green;
}
#aw5{
    color: red;
}
#ar6{
    color: green;
}
#aw6{
    color: red;
}